{% extends "layout.html" %}
{% block content %}
<a href="/discussions/{{ discussion_id }}">Takaisin keskusteluun</a> <br><br>
{% if not session.username %}
<p>Et ole kirjautunut sisään<br>
<a href="/loginpage">Kirjaudu</a><br>
</p>
{% else %}
<h3>Lisää kommentti (enintään 100 merkkiä)</h3>
<form action="/discussions/{{ discussion_id }}/all_comments" method="POST">
    <textarea id="textbox" name="content" rows="10" cols="50" maxlength="100"></textarea><br><br>
    <input type="submit" class="rightbutton" value="Kommentoi">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<h3>Kommentit</h3>
{% if not comments %}
<p class="background_text"> Ei kommentteja </p><br>
{% endif %}
{% for comment in comments %}
{% if comment.id % 2 == 0 %}
<p class="graycommentbody">
{% else %}
<p class="commentbody">
{% endif %}
<b>{{ comment.username }} </b><br>
{{ comment.created.strftime("%d.%m.%Y klo %H:%M") }}<br>
<i>{{ comment.comment }} </i></p>
{% endfor %}
{% endblock %}