{% extends "layout.html" %}
{% block content %}
<a href="/discussions/{{ discussion_id }}">Takaisin keskusteluun</a> <br><br>
<h3>Lisää kommentti</h3>
<form action="/discussions/{{ discussion_id }}/all_comments" method="POST">
    <textarea id="textbox" name="content" rows="10" cols="50"></textarea><br><br>
    <input type="submit" class="button" value="Kommentoi">
</form>
<h3>Kommentit</h3>
{% if not comments %}
<p class="background_text"> Ei kommentteja </p>
{% endif %}
{% for comment in comments %} <br>
<b>{{ comment.username }} </b><br>
{{ comment.comment }} <br>
{{ comment.created.strftime("%d.%m.%Y klo %H:%M") }} <br>
{% endfor %}
{% endblock %}