{% extends "layout.html" %}
{% block content %}

<h2> {{ discussion_information[0].topic}} </h2>
<b>Keskustelun aloitti:</b> {{ discussion_information[1] }} <br>
<b>Luotu:</b> {{ discussion_information[0].created.strftime("%d.%m.%Y klo %H:%M") }} <br>
<p class="textbody">{{ discussion_information[0].content }}</p>
<p class="background_text"> Tykkäyksiä: {{ discussion_information[0].likes}} </p>
    <form action="/discussions/{{ discussion_information[0].id }}/like" method="POST">
    <button> <img src="{{ url_for('static', filename='images/like-button.png') }}" width="30" height="30" /> </button>
</form>
<hr>
<h3>Kommentit</h3>
{% if not comments %}
<p class="background_text"> Ei kommentteja </p>
{% endif %}
{% for comment in comments %}
{% if comment.id % 2 == 0 %}
<p class="commentbody">
{% else %}
<p class="graycommentbody">
{% endif %}
<b>{{ comment.username }} </b> <br>
{{ comment.comment }} <br>
{{ comment.created.strftime("%d.%m.%Y klo %H:%M") }}</p>
{% endfor %} 
<br>
<form action="/discussions/{{ discussion_information[0].id }}/all_comments" method="GET">    
    <input type="submit" class="button" value="Kommentoi">
</form>
{% endblock %}

