{% extends "layout.html" %}
{% block content %}
<h2> {{ discussion_information[0].topic}} </h2>
{% if session.username ==  discussion_information[1] or session.user_role == 2%}
<div>
<form action="/discussions/{{ discussion_information[0].id }}/delete" method="GET">
    <input type="submit" class="rightbutton" value="Poista keskustelu">
</form>
</div>
<br>
{% endif %}
<b>Keskustelun aloitti:</b> {{ discussion_information[1] }} <br>
<b>Luotu:</b> {{ discussion_information[0].created.strftime("%d.%m.%Y klo %H:%M") }} <br>
<p class="textbody">{{ discussion_information[0].content }}</p>
<p class="background_text"> Tykkäyksiä: {{ discussion_information[0].likes}} </p>
    <form action="/discussions/{{ discussion_information[0].id }}/like" method="POST">
    <button> <img src="{{ url_for('static', filename='images/like-button.png') }}" width="30" height="30" /> </button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<h3>Kommentit</h3>
{% if not comments %}
<p class="background_text"> Ei kommentteja </p>
{% endif %}
{% for comment in comments %}
{% if comment.id % 2 == 0 %}
<p class="graycommentbody">
{% else %}
<p class="commentbody">
{% endif %}
<b>{{ comment.username }} </b> <br>
{{ comment.created.strftime("%d.%m.%Y klo %H:%M") }} <br>
{{ comment.comment }} </p>
{% endfor %} 
<br>
<form action="/discussions/{{ discussion_information[0].id }}/all_comments" method="GET">    
    <input type="submit" class="rightbutton" value="Kommentoi">
</form>
<br><br>
{% endblock %}

