{% extends "layout.html" %}
{% block title %} Etusivu {% endblock %}
{% block content %}
<h1> Etusivu </h1>
<b>Tervetuloa keskustelemaan</b>! <br>
{% if displayable_ad %}
<div style="float:right;">
  <p class="adtext">
    <b> {{ displayable_ad.advertiser }} mainostaa</b><br>
    <br>
    {{ displayable_ad.content }}
  </p>
</div>
{% endif %}
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% endif %}
<br>
<h3>Hae keskusteluja</h3>
<form action="/result" method="GET">
  Hakusana: <input type="text" name="query" minlength="3" maxlength="10">
  <br>
  <input type="submit" class="small_button" value="Hae">
</form>
<hr>
<h3>Uusimmat keskustelut</h3>
{% for discussion in discussions %}
<b><a href="/discussions/{{ discussion.id }}">{{ discussion.topic }}</a> </b><br>
Aloittanut: {{ discussion.username }} <br>
Luotu: {{ discussion.created.strftime("%d.%m.%Y klo %H:%M") }} <br>
Tykkäyksiä: {{ discussion.likes}} <br>
<hr>
{% endfor %}
<a href="/create">Uusi keskustelu</a>
{% endblock %}