{% extends "layout.html" %}
{% block title %} Etusivu {% endblock %}
{% block content %}
<h2> Etusivu </h2>
<b>Tervetuloa keskustelemaan</b>! <br>
<!-- <img -->
  <!-- src="{{ url_for('static', filename='images/eniac.png') }}" -->
  <!-- class="image" -->
<!-- /> <br> -->
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% endif %}
<br>
<h3>Hae keskusteluja</h3>
<form action="/result" method="GET">
  Hakusana: <input type="text" name="query">
  <br>
  <input type="submit" class="small_button" value="Hae">
  </form>
<h3>Uusimmat keskustelut</h3>
{% for discussion in discussions %} <br>
{{ discussion.topic }} <br>
Aloittanut: {{ discussion.username }} <br>
Luotu: {{ discussion.created.strftime("%Y-%m-%d %H:%M:%S") }} <br>
Tykkäyksiä: {{ discussion.likes}} <br>
<hr>
{% endfor %}
<a href="/create">Uusi keskustelu</a>
{% endblock %}


