<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DiscussionDeck- {% block title %}{% endblock %}</title>

<body>
    <div class="header">
        <h1>DiscussionDeck</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/discussions">Keskustele</a></li>
            {% if not session.username %}
            <li><a href="/loginpage">Kirjaudu</a></li>
            {% else %}
            <li><a href="/logout">Kirjaudu ulos</a></li>
            {% endif %}
            <li><a href="/register">Rekisteröidy</a></li>
            {% if session.user_role == 2 %}
            <li><a href="/ads">Mainokset</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %} <br>
    </div>
</body>
<br>