{% extends "layout.html" %}
{% block title %} Kirjautuminen {% endblock %}
{% block content %}
<h2> Kirjautuminen </h2>
<b>Kirjaudu sisään:</b>
<form action="/loginpage" method="POST">
    <p>Käyttäjätunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" class="button" value="Kirjaudu">
</form>
Oletko uusi käyttäjä? Rekisteröidy <a href="/register">tästä</a> <br>
<a href="/">Takaisin etusivulle</a>
{% endblock %}