{% extends "layout.html" %}
{% block title %} Aloita keskustelu {% endblock %}
{% block content %}
<h2> Aloita keskustelu </h2>
<b>Luo uusi keskusteluketju</b>
<form action="/create" method="POST">
<p>Keskustelun aihe:<br>
<input type="text" name="topic" minlength="1" maxlength="50"> <br>       
<input type="submit" value="Luo keskustelu">
</form>

<script>
    function check(form) {
        if (form.topic.value.length <= 0) {
            alert("Otsikko on liian lyhyt");
            return false;
        }
        if (form.topic.value.length > 50) {
            alert("Otsikko on liian pitkä");
            return false;
        }
        return true;
    }
</script>
    
{% endblock %}
