{% extends "layout.html" %}
{% block title %} Aloita keskustelu {% endblock %}
{% block content %}
<h2> Aloita keskustelu </h2>
{% if not session.username %}
<p>Et ole kirjautunut sisään<br>
    <a href="/loginpage">Kirjaudu</a><br>
</p>
{% else %}
<b>Luo uusi keskusteluketju</b><br><br>
<form action="/create" method="POST" onsubmit="return check(this)">
    <label for="text">Keskustelun aihe: (5-40 merkkiä)</label><br><br>
    <textarea id="text" name="topic" rows="2" cols="50" maxlength="40"></textarea><br><br>
    <label for="textbox">Keskustelun aloitusviesti: (10-500 merkkiä) </label><br><br>
    <textarea id="textbox" name="content" rows="15" cols="50" maxlength="500"></textarea><br><br>
    <input type="submit" class="button" value="Luo Keskustelu">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<script>
    function check(form) {
        if (form.topic.value.length < 5) {
            alert("Keskustelun aiheen tulee olla vähintään 5 merkkiä pitkä");
            return false;
        }
        if (form.content.value.length < 10) {
            alert("Keskustelun aloitusviestin tulee olla vähintään 10 merkkiä pitkä");
            return false;
        }
        return true;
    }
</script>
{% endif %}
{% endblock %}