{% extends "layout.html" %}
{% block title %} Lisää tunnisteita{% endblock %}
{% block content %}
<h3>Haluatko lisätä tunnisteita?</h3>
<p> Tunnisteet eivät ole pakollisia, mutta ne voivat auttaa muita keskustelijoita löytämään keskustelusi.
    Paina <b>ohita</b>, jos haluat ohittaa toiminnon.</p>
<h4>Lisää tunnisteita (max 5):</h4>
<form action="/discussions/{{ discussion_id }}/tags" method="POST" onsubmit="return check(this)">
    Tunniste: <input type="text" name="tag">
    <input type="submit" class="small_button" value="Lisää" max="10">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<script>
    function check(form) {
        if (form.tag.value.length < 3) {
            alert("Tunnisteen tulee olla vähintään 3 merkkiä pitkä");
            return false;
        }
        return true;
    }
</script>
<br>
<form action="/discussions" method="GET">
    <input type="submit" class="rightbutton" value="Ohita">
</form>
{% if deck_tags %}
{% for tag in deck_tags %}
<p class="lila_background_text">#{{ tag.tag }}</p>
{% endfor %}
{% endif %}
<br>
<br>
{% endblock %}